.contentcont{
    float:left;
    padding-top: 50px;
    padding-left: 100px;
}
.contentcont img{
    float:left;

    padding-right: 50px;

}
.contentcont span{
    float:left;
    font-size: medium;
    padding-right: 100px;
    font-family: 'century gothic', arial, sans-serif;
    line-height: 2;
text-align: left;
}


